@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    height: 13vh;
    background-color: rgb(23, 26, 3);
    font-family: 'Sofia Sans', sans-serif;
    overflow: hidden;
}
.container{
    min-height: calc(100vh - 58px - 13vh);
    display: flex;
    flex-direction: column;
    background-color:honeydew;
}
footer{
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}
@keyframes loading{
    0%{
        width: 0vw;
    }
    50%{
        width: 75vw;
    }
    100%{
        width: 100vw;
    }
}

.logo{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo img{
    width: 67px;
}
nav{
    display: flex;
    width: 100%;
    padding-bottom: 25px;
}

nav ul{
    font-size: large;
    padding: 0 20px;
    padding-bottom: 200px;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -50px;
}
nav ul li{
    color: white;
    padding: 0 30px;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}
.right-options{
    padding-left: 10px;
}
.searchbar {
    position: relative;
    top: -50px;
  }
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul img{
    height: 45px;
    width: 50px;
}
nav ul li a:hover{ 
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.banner{
    /* margin: auto; */
    width: 100vw;
    font-style: oblique;
    font-size: large;
    height: 15vh;
    color: white;
    background-color:     palevioletred;
    text-align: center;
        color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-bottom: 15px; */
}
.banner img {
    /* margin: auto; */
    width: 100vw;
    height: 50vh;
    border: solid 2mm rgb(92, 92, 14);
 }
 h3{
    margin: 230px;
    margin-bottom: 15px;
    /* width: 100vw; */
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: brown;
    font-weight: 900;
    color: white;
 }
 h4{
    font-size: large;
    margin-left: 225px;
    margin-bottom: 15px;
    width: 66vw;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: brown;
    color: white;
    height: 22px;
 }
.cards1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cards2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cards3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cards4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-item{
    text-align: center;
    font-size: large;
}


