@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    height: 13vh;
    background-color: rgb(115, 46, 16);
    font-family: 'Sofia Sans', sans-serif;
    overflow: hidden;
}
footer{
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Sofia Sans', sans-serif;
}
@keyframes loading{
    0%{
        width: 0vw;
    }
    50%{
        width: 75vw;
    }
    100%{
        width: 100vw;
    }
}
.container{
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo img{
    width: 67px;
}
nav{
    display: flex;
    width: 100%;
    padding-bottom: 25px;
}

nav ul{
    font-size: large;
    padding: 0 20px;
    padding-bottom: 200px;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -50px;
}
nav ul li{
    color: white;
    padding: 0 30px;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}
.right-options{
    padding-left: 10px;
}
.searchbar {
    position: relative;
    top: -45px;
  }
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul img{
    height: 45px;
    width: 50px;
}
nav ul li a:hover{ 
    font-style: italic;
    font-weight: bolder;
}
