@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.move_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar{
    background-color: red;
    height: 0.45vh;
    animation: loading 0.80s ease-in-out forwards;
}   

 .banner p:hover{
    background-color: darkred;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
 }
 .searchbar:hover{
    color: black;
    font-weight: bolder;
    font-style: oblique;
  }
h3:hover{
    background-color: black;
    font-weight: bolder;
}
h4:hover{
background-color: black;
    font-weight: 900;
}
.card-item img{
    border: solid 1mm rosybrown;
    border-radius: 1cm;
}
.card-item img:hover{
    border: solid 1mm black;
    border-radius: 1cm;
}
.small-lines{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.lines:hover{
    font-weight: bolder;
    font-style:inherit;
}
.cards1:hover{
    background-color:gainsboro;
}
.cards2:hover{
    background-color:gainsboro;
}
.cards3:hover{
    background-color:gainsboro;
}
.cards4:hover{
    background-color:gainsboro;
}
